<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.com.org"
    xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="layout/layout::head">
        <title>Tienda</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/navbar::navbar-l"></header>
        <h1>Tienda</h1>
        <h2>Productos</h2>
        <div class="general">
            <aside class="aside">
                <div class="categories">
                    <p>CATEGORÍAS</p>
                    <ul>
                        <li><a href="">Celulares</a></li>
                        <li><a href="">Notebooks</a></li>
                        <li><a href="">Placas de video</a></li>
                        <li><a href="">Procesadores</a></li>
                        <li><a href="">Motherboards</a></li>
                    </ul>
                </div>
                <div class="order-by">
                    <label for="filter">ORDENAR POR:</label>
                    <select name="filter" id="filter">
                        <option value="">Menor precio</option>
                        <option value="">Mayor precio</option>
                    </select>
                </div>
            </aside>

            <div class="grid">
                <div class="producto" th:each="producto: ${list}">
                    <a class="imagen" href="">
                        <img class="imagen-producto" th:src="@{'/images/'+
                            ${producto.imagen}}"
                            alt="producto imagen" />
                    </a>
                    <a class="datos" href="">
                        <h5 th:text="${producto.nombre}"></h5>
                        <h6 class="price" th:text="'$' +
                            ${producto.precio}"></h6>
                        <p></p>
                    </a>
                    <!-- En el botón de abajo, la idea sería agregar una especie de "IF role == user" se muestre ese botón -->
                    <a class="add-to-cart" href="#">Añadir a carrito</a>
                    <!-- En caso de ser "role == admin" se mostraría el siguiente DIV -->
                    <div class="admin-buttons">
                        <!-- <a class="add" href="#"><img th:src="@{${'/images/cart.png'}}" alt="Agregar al carrito"></a> -->
                        <a class="modify" href="#"><img th:src="@{${'/images/edit.png'}}" alt="Modificar"></a>
                        <a class="delete" href="#"><img th:src="@{${'/images/delete.png'}}" alt="Eliminar"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <nav aria-label="Pagination">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:if="${current != 1}">
                            <a class="page-link"
                                th:href="@{|/tienda/tienda2/?page=${prev}|}">
                                Anterior</a>
                        </li>
                        <li class="page-item" th:each="page : ${pages}"
                            th:if="${current == page ? 'active' : ''}">
                            <a id="current" class="page-link"
                                th:href="@{|/tienda/tienda2/?page=${page}|}"
                                th:text="${page}"></a>
                        </li>
                        <li class="page-item" th:if="${current != last}">
                            <a class="page-link"
                                th:href="@{|/tienda/tienda2/?page=${next}|}">
                                Posterior</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <footer th:replace="layout/layout::footer"></footer>
    </body>
</html>
