<!DOCTYPE html>

<html xmlns:th="https://thymeleaf.com.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="layout/layout::head">
    <title>Tienda</title>
    <meta charset="UTF-8"/>
</head>
<body>
<header th:replace="layout/navbar::navbar-l"></header>
<h1>Tienda</h1>
<div class="btn-group" role="group" aria-label="Basic outlined example">
    <a th:href="@{/admin/productos-form}">
        <button class="btn btn-outline-dark">Agregar</button>
    </a>
    <a th:href="@{/}">
        <button class="btn btn-outline-dark">Modificar</button>
    </a>
    <a th:href="@{/}">
        <button class="btn btn-outline-dark">Eliminar</button>
    </a>
</div>
<div th:if="${listaProductos!= null and !listaProductos.empty}">
    <table border="1">

        <tr th:each="producto : ${listaProductos}">
            <td th:text="${producto.nombre}">Muestra nombre</td>
            <!--                    <td th:text="${producto.imagen}">Muestra imagen</td>-->
            <td th:text="${listaProductos.get(productoStat.index).precio}">Muestra precio</td>  <!--<!-- ${producto.precio} -->
            <td th:text="${producto.stock}">Muestra stock</td>
                                 
            <td>
              <button  class="btn-dark"><a th:href="@{/admin/modificar}+'?id='+${producto.id}" class=" px-5 py-2 ">Modificar</a></button>
            <!--  <button sec:authorize="hasRole('ROLE_ADMIN')" class="btn-dark"><a th:href="@{/persona-form}+'?id='+${p.id}" >Editar</a></button> -->
                               
            </td>
            
                <td>
                     <button  class="btn-dark"><a th:href="@{/admin/productoForm}+ ${producto.id}" class=" px-5 py-2 ">Eliminar</a></button>
             <!-- <button  class="btn-dark"><a th:href="@{/admin/productoForm}+'?id='+${producto.id}" class=" px-5 py-2 ">Eliminar</a></button> -->
            <!--  <button sec:authorize="hasRole('ROLE_ADMIN')" class="btn-dark"><a th:href="@{/persona-form}+'?id='+${p.id}" >Editar</a></button> -->
                               
            </td>
            
            
            <td th:text="${listaProductos.get(productoStat.index + 1).precio}">Muestra precio</td>  <!--<!-- ${producto.precio} -->
            <td th:text="${listaProductos.get(productoStat.index + 1).stock}">Muestra stock</td>
                                 
            <td>
              <button  class="btn-dark"><a th:href="@{/admin/modificar}+'?id='+${listaProductos.get(productoStat.index + 1).id}" class=" px-5 py-2 ">Modificar</a></button>
            <!--  <button sec:authorize="hasRole('ROLE_ADMIN')" class="btn-dark"><a th:href="@{/persona-form}+'?id='+${p.id}" >Editar</a></button> -->
                               
            </td>
            
                <td>
                     <button  class="btn-dark"><a th:href="@{/admin/productoForm}+ ${listaProductos.get(productoStat.index + 1).id}" class=" px-5 py-2 ">Eliminar</a></button>
             <!-- <button  class="btn-dark"><a th:href="@{/admin/productoForm}+'?id='+${producto.id}" class=" px-5 py-2 ">Eliminar</a></button> -->
            <!--  <button sec:authorize="hasRole('ROLE_ADMIN')" class="btn-dark"><a th:href="@{/persona-form}+'?id='+${p.id}" >Editar</a></button> -->
                               
            </td>
            
            
            
            
        </tr>

    </table>
</div>
<div th:if="${listaProductos == null or listaProductos.empty}">
    No hay productos en la tienda
</div>
</body>
</html>
