<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.com.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Tienda</title>
    <meta charset="UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/styles/style.css"/>
    <link rel="stylesheet" href="/estilos/stylef.css"/>
    <link rel="stylesheet" href="/estilos/navbar.css">
</head>
<body>
<header th:replace="layout/navbar::navbar-l"></header>
<div class="container">
    <div class="card bg-light">
        <div class="card-header bg-dark text-white text-center text-uppercase"
             th:text="${usuario.username}"></div>
        <div class="card-body">
            <img class="img-thumbnail rounded float-left"
                 th:src="@{'/images/'+ ${usuario.imagen}}"
                 alt="${usuario.imagen}" style="max-width: 25%"/>
            <ul class="list-group">
                <li class="list-group-item" th:text="'Nombre: ' + ${usuario.nombre}"></li>
                <li class="list-group-item" th:text="'Apellido:' + ${usuario.apellido}"></li>
                <li class="list-group-item" th:text="'Email: ' + ${usuario.email}"></li>
            </ul>
        </div>
    </div>
</div>
<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" aria-current="true" th:href="@{/comentarios}">Comentarios</a>
            </li>
            <li class="nav-item">
                <!--                falta implementar-->
                <a class="nav-link" th:href="@{/productos}">Productos Comprados</a>
            </li>
        </ul>
    </div>
    <div th:if="${comentarios != null and !comentarios.empty}">
        <div class="card-body" th:each="comentario : ${comentarios}">
            <div class="card bg-light">
                <div class="card-header bg-dark text-white text-center text-uppercase">
                    <h5 th:text="${comentario.producto.nombre}"></h5>
                </div>
                <div class="card-body">
                    <p th:text="${comentario.texto}"></p>
                    <p th:text="${comentario.fechaDelComentario}"></p>
                </div>

            </div>
        </div>
    </div>

</div>
<footer th:replace="layout/layout::footer"></footer>
</body>
</html>