<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      <<<<<<< HEAD
      xmlns="http://www.w3.org/1999/xhtml">
      <head th:replace="layout::head">
        <title>Tienda</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:fragment="navbar-l">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <img th:src="@{${'/images/icono1.ico'}}" class="icono" width="50" />
                    <a class="navbar-brand" href="#">EP-MOVIL</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" th:href="@{/}">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" th:href="@{/tienda/productos}">Tienda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Repará</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Preguntas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Contacto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/usuario/carrito">Carrito</a>
                            </li>
                            <li th:if="${name != anonymusUser}">
                                <b>Bienvenido: </b> <span sec:authentication="name">
                            </li>
                        </ul>
                        <form class="d-flex ">
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-light" type="submit" style="margin-right:5px">Buscar</button>
                        </form>
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <a th:href="@{/usuario/login}">
                                <button class="btn btn-outline-light">Iniciar</button>
                            </a>
                            <a th:href="@{/usuario/registrar}">
                                <button class="btn btn-outline-light">Crear</button>
                            </a>
                        </div>
                    </div>
                    <footer th:replace="layout::footer"></footer>
                    </body>
                    </html>